spring:
  application:
    name: eureka-server-test
server:
  port: 8761
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
logging:
  level:
    com.netflix.eureka: OFF
    com.netflix.discovery: OFF
