apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
data:
  logstash.conf: |
    input {
      tcp {
        port => 5000
        codec => json_lines
      }
      udp {
        port => 5000
        codec => json_lines
      }
    }

    filter {
      if [message] =~ /^\{.*\}$/ {
        json {
          source => "message"
        }
      }
      mutate {
        add_field => {
          "[@metadata][index_prefix]" => "microservices"
        }
      }
      date {
        match => ["timestamp", "ISO8601"]
        target => "@timestamp"
      }
    }

    output {
      elasticsearch {
        hosts => ["http://elasticsearch:80"]
        index => "microservices-logs-%{+YYYY.MM.dd}"
      }
      stdout {
        codec => rubydebug
      }
    }
